<h1>Dentistas</h1>

<a class="btn btn-primary" id="addDentistButton">Agregar</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Telefono
            </th>
            <th>
                Correo
            </th>
            

        </tr>
    </thead>
    <tbody id="DentistTableBody">

        <tr><td colspan="4">No hay registros</td></tr>

    </tbody>
</table>

@section Scripts {
    <script>
         $(document).ready(function () {
            loadPeople();

            $('#addDentistButton').click(function () {
                window.location.href = 'https://localhost:7071/Dentists/Create';
            });

            $(document).on('click', '.delete-Dentist', function () {
                var DentistId = $(this).data('id');
                if (confirm('Are you sure you want to delete this person?')) {
                    $.ajax({
                        url: 'https://localhost:7176/Dentist/DeleteDentist/' + DentistId,
                        type: 'DELETE',
                        success: function () {
                            alert('Person deleted successfully');
                            loadPeople();
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });

        $(document).on('click', '.edit-dentist', function () {
            var DentistId = $(this).data('id');
            
            window.location.href = 'https://localhost:7071/Dentists/Edit?DentistId=' + DentistId;
        });


        });

        function loadPeople() {
            $.ajax({
                url: 'https://localhost:7176/Dentist/GetAllDentist',
                type: 'GET',
                success: function (data) {
                    var tableBody = '';
                    if (data.length === 0) {
                        tableBody = '<tr><td colspan="4">No hay registros</td></tr>';
                    } else {
                        $.each(data, function (index, Dentist) {
                            tableBody += '<tr>' +
                                '<td>' + Dentist.id + '</td>' +
                                '<td>' + Dentist.nombre + '</td>' +
                                '<td>' + Dentist.apellido + '</td>' +
                                '<td>' + Dentist.especialidad + '</td>' +
                                '<td>' + Dentist.telefono + '</td>' +
                                '<td>' + Dentist.correoElectronico + '</td>' +
                                
                                '<td>' +
                                '<a class="btn btn-warning edit-dentist" data-id="' + Dentist.id + '">Editar</a> ' +
                                '<button class="btn btn-danger delete-Dentist" data-id="' + Dentist.id + '">Delete</button>' +
                                '</td>' +
                                '</tr>';
                        });
                    }
                    $('#DentistTableBody').html(tableBody);

                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }
    </script>
}