<h1>Pacientes</h1>

<a class="btn btn-primary" id="addpatientButton">Agregar</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Telefono
            </th>
            <th>
                Email
            </th>
            <th>
                Cumpleaños
            </th>
            <th>
                Direccion
            </th>
            
        </tr>
    </thead>
    <tbody id="PatientTableBody">

        <tr><td colspan="4">No hay registros</td></tr>

    </tbody>
</table>

@section Scripts {
    <script>
         $(document).ready(function () {
            loadPeople();

            $('#addpatientButton').click(function () {
                window.location.href = 'https://localhost:7071/Patients/Create';
            });

            $(document).on('click', '.delete-Patient', function () {
                var PatientId = $(this).data('id');
                if (confirm('Are you sure you want to delete this person?')) {
                    $.ajax({
                        url: 'https://localhost:7176/Patient/DeletePatient/' + PatientId,
                        type: 'DELETE',
                        success: function () {
                            alert('Person deleted successfully');
                            loadPeople();
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });

        $(document).on('click', '.edit-patient', function () {
            var PatientId = $(this).data('id');
            window.location.href = 'https://localhost:7071/Patients/Edit?PatientId=' + PatientId;
        });


        });

        function loadPeople() {
            $.ajax({
                url: 'https://localhost:7176/Patient/GetAllPatients',
                type: 'GET',
                success: function (data) {
                    var tableBody = '';
                    if (data.length === 0) {
                        tableBody = '<tr><td colspan="4">No hay registros</td></tr>';
                    } else {
                        $.each(data, function (index, Patient) {
                            tableBody += '<tr>' +
                                '<td>' + Patient.id + '</td>' +
                                '<td>' + Patient.name + '</td>' +
                                '<td>' + Patient.lastName + '</td>' +
                                '<td>' + Patient.phoneNumber + '</td>' +
                                '<td>' + Patient.email + '</td>' +
                                '<td>' + Patient.birthdate + '</td>' +
                                '<td>' + Patient.direccion + '</td>' +
                                '<td>' +
                                '<a class="btn btn-warning edit-patient" data-id="' + Patient.id + '">Editar</a> ' +
                                '<button class="btn btn-danger delete-Patient" data-id="' + Patient.id + '">Delete</button>' +
                                '</td>' +
                                '</tr>';
                        });
                    }
                    $('#PatientTableBody').html(tableBody);

                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }
    </script>
}