
<form>
    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Nombre</label>
                </div>
                <div class="col-md-2">
                        <input class="form-control" id="name" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Apellido</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="lastname" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Año</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="age" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Sexo</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="sex" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Fecha de nacimiento</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="birtdate" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Nacionalidad</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="nationality" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Telefono</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="phonenumber" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Salario</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="salary" />
                </div>
            </div>
        </div>
    </div>
    <button id="addInvestorButton" class="btn btn-primary">
        Guardar
    </button>
</form>
  



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#addInvestorButton').click(function (e) {
                e.preventDefault();
                var newInvestor = {
                    Name: $('#name').val(),
                    LastName: $('#lastname').val(),
                    Age: $('#age').val(),
                    Sex: $('#sex').val(),
                    Birthdate: $('#birtdate').val(),
                    PhoneNumber: $('#nationality').val(),
                    Salary: $('#salary').val()
                };
                $.ajax({
                    url: 'https://localhost:7176/Investors/AddInvestors',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(newInvestor),
                    success: function (data) {
                        alert('Investor added successfully with ID: ' + data.id);
                        window.location.href = 'Index';

                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>
}

