
<h2>Registrar Inversionista</h2>

<form>
    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">Nombre</label>
                </div>
                <div class="col-md-2">
                        <input class="form-control" id="name" type="text" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label  class="control-label">Apellido</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="lastname" type="text" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label  class="control-label">Año</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="age" type="number"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            
                    <label  class="control-label">Sexo</label>
               <input id="sex" class="form-control" type="text"/>

        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label  class="control-label">Fecha de nacimiento</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="birthdate" type="date" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label  class="control-label">Nacionalidad</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="nationality" type="text" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label  class="control-label">Telefono</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="phoneNumber" type="text" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label  class="control-label">Salario</label>
                </div>
                <div class="col-md-2">
                    <input class="form-control" id="salary" type="number"/>
                </div>
            </div>
        </div>
    </div>
    <button id="addInvestorButton" class="btn btn-primary">
        Guardar
    </button>
</form>
  



@section Scripts {
     <script>
        $(document).ready(function () {
            $('#addInvestorButton').click(function (e) {
                e.preventDefault();

                var newInvestor = {
                    Name: $('#name').val(),
                    LastName: $('#lastname').val(),
                    Age: $('#age').val(),
                    Sex: $('#sex').val(),
                    birthdate: $('#birthdate').val(),
                    Nationality: $('#nationality').val(),
                    PhoneNumber: $('#phoneNumber').val(),
                    Salary: $('#salary').val()
                };

                $.ajax({
                    url: 'https://localhost:7176/Investors/AddInvestors', 
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(newInvestor),
                    success: function (data) {
                        alert('Investor added successfully with ID: ' + data.id);
                        window.location.href = 'Index';
                    },
                    error: function (error) {
                        alert('Error al agregar el inversionista. Verifica los datos.');
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>
}

