<h1>Portafolio de Acciones</h1>

<a class="btn btn-primary" id="addInvestorsButton">Agregar</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Año
            </th>
            <th>
                Sexo
            </th>
            <th>
                Cumpleaños
            </th>
            <th>
                Nacionalidad
            </th>
            <th>
               Telefono
            </th>
            <th>
                Salario
            </th>
        </tr>
    </thead>
    <tbody id="InvestorTableBody">

        <tr><td colspan="4">No hay registros</td></tr>

    </tbody>
</table>

@section Scripts{
    <script>
         $(document).ready(function () {
            loadPeople();

            $('#addInvestorsButton').click(function () {
                window.location.href = 'https://localhost:7176/Investors/Create';
            });

            $(document).on('click', '.delete-person', function () {
                var personId = $(this).data('id');
                if (confirm('Are you sure you want to delete this person?')) {
                    $.ajax({
                        url: 'https://localhost:7084/Customers/DeleteCustomer/' + personId,
                        type: 'DELETE',
                        success: function () {
                            alert('Person deleted successfully');
                            loadPeople();
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });

            $(document).on('click', '.edit-person', function () {
                var personId = $(this).data('id');
                window.location.href = 'https://localhost:7226/Customers/Edit/' + personId;
            });

        });

        function loadPeople() {
            $.ajax({
                url: 'https://localhost:7176/Investors/GetAllInvestors',
                type: 'GET',
                success: function (data) {
                    var tableBody = '';
                    if (data.length === 0) {
                        tableBody = '<tr><td colspan="4">No hay registros</td></tr>';
                    } else {
                        $.each(data, function (index, Investor) {
                            tableBody += '<tr>' +
                                '<td>' + Investor.id + '</td>' +
                                '<td>' + Investor.name + '</td>' +
                                '<td>' + Investor.lastName + '</td>' +
                                '<td>' + Investor.age + '</td>' +
                                '<td>' + Investor.sex + '</td>' +
                                '<td>' + Investor.birthdate + '</td>' +
                                '<td>' + Investor.nationality + '</td>' +
                                '<td>' + Investor.phoneNumber + '</td>' +
                                '<td>' + Investor.salary + '</td>' +
                                '<td>' +
                                '<a class="btn btn-warning edit-Investor" data-id="' + Investor.id + '">Editar</a> ' +
                                '<button class="btn btn-danger delete-Investor" data-id="' + Investor.id + '">Delete</button>' +
                                '</td>' +
                                '</tr>';
                        });
                    }
                    $('#InvestorTableBody').html(tableBody);

                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }
    </script>
}