/* Contenedor principal */
.flex-container {
    /*👉width: 100%;👈*/
    min-height: 100vh;
    height: 100vh;
    background: #d2d2d2;
    display: flex;
    position: relative;
    flex-flow: row wrap;
}

/* Contenedor de men� lateral y contenido */
.c1 {
    height: 100vh;
    width: 200px;
    position: absolute;
    
}

/* Men� lateral */
.sidebar {
    width: 100%;
    background: #111855;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.sidebar-header {
    
    /*👉align-items: center;👈*/
    
}

    

    .sidebar-header h2 {
        
        width: 100%;
        font-size: 1.125rem;
        font-weight: 600;
        color: #fff;
        
        padding-top: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 0;

        
    }

    .sidebar-header hr {
        
        width: 80%;
        border:none;
        height: 2px;
        background-color: #fff;
        margin-top:10px;
        margin-left: 15px;
        
        
    }

    .sidebar-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .sidebar-links h4 {
        font-size: 0.9375rem;
        color: #fff;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        
        
    }


    .sidebar-links li{
        list-style: none;
        margin-top: 5px;
        padding: 10px;
        border-radius: 2px;
        width: 100%;
    }

    .sidebar-links li:hover{
        background-color: #848695;
    }


/* Men� horizontal */
.c2 {
    position: absolute;
    left: 200px;
    width: calc(100% - 200px);
    background-color: #1a237e;
    height: 60px;
    
}

    .c2 ul {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

        .c2 ul li {
            list-style: none;
            margin-top: 13px;
            
        }

        .c2 ul .li2{
            margin-right: 15px;
        }

            



/* Contenido principal */
.c3 {
    top: 60px;
    left:200px;
    width: calc(100% - 200px);
    height: calc(100vh - 60px);
    position: absolute;
    background:#fff;
    
}
