<h2>Crear Facturas</h2>

<form>
    <div class="form-control mt-2">
        <label class="control-label">Fecha</label>
        <input class="form-control" id="fe" type="date" />
    </div>

    <div class="form-control mt-2">
        <label class="control-label">Total</label>
        <input class="form-control" id="total" type="number" />
    </div>

    <div class="form-control mt-2">
        <label class="control-label">Metodo de pago</label>
        <input class="form-control" id="mtdp" type="text" />
    </div>

    <div class="form-control mt-2">
        <label class="control-label">Id del paciente</label>
        <input class="form-control" id="pcid" type="number" />
    </div>


    <button id="addBillButton" class="btn btn-success mt-2">
        Guardar
    </button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#addBillButton').click(function (e) {
                e.preventDefault();

                var newDentist = {
                    FechaEmision: $('#fe').val(),
                    Total: $('#total').val(),
                    MetodoPago: $('#mtdp').val(),
                    PacienteId: $('#pcid').val()
            
                };

                $.ajax({
                    url: 'https://localhost:7176/Bill/AddBills',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(newDentist),
                    success: function (data) {
                        alert('Bill added successfully with ID: ' + data.id);
                        window.location.href = 'Index';
                    },
                    error: function (error) {
                        alert('Error al agregar. Verifica los datos.');
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>
}


